#container {
  text-align: center;
}

canvas {
  border: 1px solid black;
  margin: auto;
  display: block;
}

button {
  position: absolute;
  top: 32%;
  left: 46%;
  padding: 15px 32px;
  font-size: 16px;
}
